---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Hero.astro';
import SegmentosDeEnfoque from '../components/SegmentosDeEnfoque.astro';
import Programa from '../components/Programa.astro';
import Ponentes from '../components/Ponentes.astro';
import Galeria from '../components/Galeria.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="IGECO | Foro Electromovilidad">
	<Header />
	<main>
		<SegmentosDeEnfoque />
		<Programa />
		<Ponentes />
		<Galeria />
		<Contacto />
	</main>
	<Footer />
</Layout>

<style>

</style>
