---
import { t } from "i18next";
---

<footer class="text-white">
    <!-- <div class="flex flex-col justify-center items-center gap-8 pb-4">
        <h2 class="text-3xl font-jersey font-normal md:text-4xl lg:text-6xl" style="text-shadow: 1px 1px 2px black;">{t('contact.title')}</h2>
        <img class="w-52 h-52 rounded-full shadow-black shadow-2xl md:w-60 md:h-60 lg:w-72 lg:h-72" src="\FernandoAranda.webp" alt="Foto de Fernando Aranda" />
        <div class="text-center">
            <h4 class="text-2xl md:text-3xl lg:text-4xl">Fernando Aranda</h4>
            <h5 class="text-base md:text-xl lg:text-2xl">Manager Foro Electromovilidad y Semiconductores</h5>
            <p class="text-sm lg:text-base">fernando.aranda@igeco.mx</p>
        </div>
    </div> -->
    <div class="flex justify-between items-center w-full h-20 bg-secondary px-4 md:h-24 md:px-8 lg:h-32 lg:px-12">
        <div class="flex max-w-24 md:max-w-36 lg:max-w-44">
            <img src="\igeco_bn.webp" alt="igeco" />
            <img src="\deutsche_messe_bn.webp" alt="igeco" />
        </div>
        <div class="flex max-w-20 md:max-w-32 lg:max-w-36">
            <img src="\gto_veda.webp" alt="gto" />
        </div>
    </div>
</footer>
