<footer>
    <div class="igeco">
        <img src="\igeco_bn.webp" alt="igeco">
        <img src="\deutsche_messe_bn.webp" alt="igeco">
    </div>
    <div class="gto">
        <img src="\gto_veda.webp" alt="gto">
    </div>
</footer>

<style>
    footer {
        min-height: 20px;
        background-color: #003C43;
        color: white;
        padding: 10px 100px;
        display: flex;
        justify-content: space-between;
    }

    .igeco {
        display: flex;
        max-width: 180px;
        padding: 10px;
    }

    .gto {
        display: flex;
        max-width: 180px;
        padding: 10px;
    }
</style>