---
import { CounterDown } from "./CounterDown";

import { getI18N } from "../i18n";
const i18n = getI18N(Astro.currentLocale);
const title = i18n.hero.title.split("Electro")
---

<section class="relative min-h-screen before:absolute before:top-0 before:left-0 before:w-full before:h-full -z-10 before:bg-gray-900/60">
    <video autoplay muted loop class="absolute -z-20 top-0 right-0 bottom-0 left-0 w-full h-full object-cover">
        <source src="/hero.webm" type="video/webm">
    </video>
    <div class="flex flex-col h-screen lg:justify-end pt-32 lg:pt-20 pb-20">
        <div class="flex flex-col justify-end items-center md:items-start text-white">
            <h1 class="relative uppercase z-10 font-jersey font-normal text-center md:text-left text-[3rem] md:text-[3.75rem] lg:text-[14rem] leading-[0.7] tracking-wider lg:-translate-x-3 select-none" style="text-shadow: 3px 1px 2px black;">
                Electro <br /> {title}
            </h1>
            <h3 class="relative z-10 pt-12 text-center text-2xl font-bold w-full *:text-secondary *:font-bold" set:html={i18n.hero.subtitle} />
        </div>
    </div>
    <div class="bg-gradient-to-t from-primary via-[#01038b44] to-transparent absolute bottom-0 h-52 w-full z-0" />
</section>
