<section class="hero">
    <h1>Foro de Electromovilidad</h1>
    <div class="separator"></div>
    <h3>¡El foro más importante de la industria en Guanajuato!</h3>
</section>

<style>
    section.hero {
        width: 100%;
        min-height: calc(100vh - 80px);
        background: url('/electromobility.jpg') no-repeat center center/cover;
        padding: 5em 1em;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        color: white;
    }
    h1 {
        font-size: 3em;
        font-family: "Jersey 15", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 1px 1px 2px black;
        line-height: 1;
        text-align: center;
    }
    .separator {
        width: 10%;
        height: 2px;
        background: white;
        margin: 1em 0;
        border-radius: 1em;
    }
    h3 {
        text-align: center;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 4em;
        }
        .separator {
            width: 20%;
        }
    }
    @media (min-width: 1024px) {
        h1 {
            font-size: 5em;
        }
        .separator {
            width: 30%;
        }
    }
</style>