a {
    width: 100%;
}

@media (min-width: 768px) {
    a {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    a {
        width: 31%;
    }
}

@media (min-width: 1280px) {
    a {
        width: 23%;
    }
}